body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    background: #F2F2F2;
}

.header {
    height: .9rem;
    background: #E8B82D;
    text-align: center;
    font-size: 22px;
}

.header a {
    float: left;
    width: 33.3%;
    color: #fff;
    line-height: .9rem;
    font-size: .36rem;
}

.header .city {
    text-align: left;
    font-size: .32rem;
}

.city img {
    height: .32rem;
    padding-bottom: 2px;
    margin-right: 5%;
    margin-left: 10px;
    vertical-align: middle;
}

.information {
    text-align: right;
    line-height: .9rem;
}

.information img {
    height: .32rem;
    margin-right: 15px;
    vertical-align: middle;
}

.banner {
    width: 100%;
}

.service {
    margin-top: 2%;
}

.service a {
    width: 45%;
    display: inline-block;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    margin-left: 3%;
    margin-top: 3%;
}

.service img {
    width: 50%;
    margin-top: 20px;
}

.service span {
    display: block;
    color: #696969;
    padding: 10px 0;
    line-height: 30px;
    font-size: .32rem;
}

.person {
    text-align: center;
    background: #fff;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.person img {
    width: 30%;
    margin-top: 20px;
}

.person span {
    display: block;
    color: #9A9A9A;
}

.blank {
    text-align: center;
}

.blank img {
    width: 60%;
}

.blank div {
    color: #717171;
    margin-top: 20px;
}

.weui-btn_primary {
    margin-top: 76px;
    width: 85%;
}

/*订单列表*/
ul {
    list-style: none;
}

.left {
    float: left;

}

.leftC {
    margin-left: 30px;
}

.right {
    float: right;
}

.rightC {
    margin-right: 30px;
    text-align: right;
}

.orderList {
    margin-top: 20px;
    background: #fff;
    border-radius: 5px;
}

.orderList li {
    line-height: 30px;
}

.orderList img {
    margin-left: 10%;
    margin-top: 10%;
    width: 6%;
}

.weui-btn_primary {
    margin-top: 60px;
    font-size: 16px;
}

.clearfix:after {
    content: " ";
    display: table;
    height: 0;
    clear: both;
    visibility: hidden;
}

.timeS {
    font-size: 12px;
    color: #909090;
}

.placeS {
    font-size: 16px;
    color: #696969;
}

.carN {
    font-size: 12px;
    color: #696969;
}

.timeR {
    color: #F23C3C;
    font-size: 14px;
}

.timeG {
    color: #75D93D;
    font-size: 14px;
}

.placeM {
    font-size: 16px;
    color: #696969;
}

.driv a {
    color: #EABF41;
    font-size: 14px;
}

.driv img {
    width: 8%;
    margin-right: 2px;
}

.line {
    border-bottom: 1px solid #EFEFEF;
}

.pri {
    margin: 2% auto;
}

.pri .left {
    margin-left: 30px;
    color: #9C9C9C;
    font-size: 14px;
}

.pri .right {
    margin-right: 30px;
    color: #9C9C9C;
    font-size: 14px;
}

/*联系司机弹窗*/
.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(178, 178, 178, .2);
    z-index: 999;
}

.modal-dialog {
    width: 100%;
    margin: 50% auto;
    margin-left: 8%;
}

.modal-content {
    width: 80%;
    min-height: 30%;
    background: #fff;
    border-radius: 4px;
    border: none;
    padding: 10px 10px;
    position: relative;
    vertical-align: middle;
}

.modal-content h4 {
    color: #676767;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
}

.modal-content .order {
    margin: 10px auto;
    color: #676767;
    line-height: 24px;
}

.modal-content .order a {
    color: #E9BD3F;
    font-size: 14px;
}

.call {
    margin: 10px auto;
}

.call .left {
    border: 1px solid #EBC24B;
    color: #EBC24B;
    width: 30%;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
    vertical-align: middle;
    margin-left: 10px;
}

.call .right {
    background: #EBC24B;
    color: #fff;
    width: 30%;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
    margin-right: 10px;
}

hr {
    border: 1px solid #E9E9E9;
}

/*订单消息提醒*/
.init {
    background: #fff;
    padding: 10px 0;
    height: 68px;
}

.init img {
    margin-left: 10%;
    margin-top: 3%;
    width: 6%;
}

.init .placeS, .init .placeM {
    font-size: 17px;
}

.init .carN, .init .driv {
    font-size: 15px;
    color: #8F8F8F;
}

.weui-cell p {
    font-size: .27rem;
    color: #898989;
}

.leftC {
    margin-left: 18px;
}

.know {
    margin-top: 94px;
}

.conT {
    font-size: 15px;
    color: rgb(102, 102, 102);
}

/* 重置 */
.weui-tabbar__icon {
   width: 20%;
   height: auto;
   margin-top: 5px;
}
.weui-tabbar__label {
    font-size: .2rem;
    line-height: .5rem;
}

.weui-cell_access {
    font-size: .27rem;
}
.weui-cell__hd {
    width: 10%;
}

.weui-cell__hd img {
    width: 60%;
    margin: 0 auto;
}
@media only screen and (min-width: 400px) {
    html {
        font-size: 55px ! important;
    }
}